<ion-header class="no-border">
  <ion-toolbar>
    <!--
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      *ngIf="guardados.length == 0"
    </ion-buttons>
    -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-label>Registro Asistencia </ion-label>
      <ion-badge> {{storageService.guardados.length}}</ion-badge>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="dark">
        <ion-icon slot="icon-only" name="send"></ion-icon>        
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let registro of storageService.guardados" (click)="abrirRegistro( registro )" detail>
      
      <ion-label>
        
        <h1> <sub><ion-icon slot="start" [name]="registro.icon" size="large" color="primary"></ion-icon></sub> {{usuarioActual.nombre}}</h1>
        <ion-chip>
          <ion-avatar>
            <img src="../../{{usuarioActual.avatar }}">
          </ion-avatar>
          <ion-label>
            <h3>{{usuarioActual.email}}</h3>
          </ion-label>
        </ion-chip>        
        <p>Profesor: {{ registro.profesor }}</p>
        <p>Asignatura: {{ registro.asignatura }} - {{ registro.seccion }}</p>
        <p><ion-text color="success">{{ registro.text}}</ion-text></p>
        <h6>{{ registro.created | date: 'medium'}}</h6>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
