<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Scanner QR
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-usuario  [usuarioActual]="usuarioActual"></app-usuario>


  <ion-slides [options]="swiperOpts">
    <ion-slide>
      <ion-button (click)="scan()" fill="outline" size="large" shape="round">
        Scan QR
      </ion-button>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item >
      <ion-label class="xx-large">{{ dateTime | async | date:'shortTime' }}</ion-label>
      <p class="large">{{ dateTime | async | date }}</p>
    </ion-item>
  </ion-list>

</ion-content>
